.Profilo-section {
    width: 80%;
    height: auto;
    margin: 12vh auto 5vh;
    background-color: rgba(198, 208, 215, 0.3);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 7px 7px 45px rgba(51, 102, 212, 0.4);
    padding: 30px 50px;
}

.Profilo-section img {
    width: 210px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 5px;
}

#image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 10%;
}

#avatar {
    margin-bottom :10px ;
}

.Profilo-section h2 {
    color: rgb(122, 135, 148);
    text-align: center;
    margin-bottom: 30px;
}

.profile-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    font-size: 50px;
}
.custom-file-upload
{
margin-left: 10%;
margin-bottom: 20%;

}
.div {
    display: flex;
    margin: auto;
   
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Button{
    margin: auto;
} */

@media(max-width:1050px) {
    .profile-info {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:800px) {
    .div {
        /* display: flex; */
        justify-content: center;
        /* flex-direction: row-reverse; */
    }

}

@media(max-width:600px) {
#image {
        margin-left: 0px;
    }


}