

/* body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
} */

.footer {
 background-color: whitesmoke;
 color: black;
 padding: 30px 0;
}

.container {
 display: flex;
 justify-content: space-around;
 margin: 0 auto;
 max-width: 1200px;
 padding: 0px 15px;
}

h3 {
 margin-bottom: 10px;
}

ul {
 list-style-type: none;
 padding: 0;
}

li {
 margin-bottom: 10px;
}
.Social ul li a , .story  ul li .story-item  {
    list-style: none;
    text-decoration: none;
    color: black;
}

.Social ul li a i:hover ,.story  ul li .story-item:hover{
    color: rgb(67, 66, 66)
}
.Social ul li a i {
    font-size: 35px;
    color: gray;
   
}

 

@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items:flex-start;
      
    }
  
    .story,
    .services,
    .contact {
      margin-bottom: 30px;
      margin-left: 100px;
      
    }
    .Social{
        margin-left: 130px;
    }
    .Social ul li a i:hover{
        color: rgb(67, 66, 66)
    }
  }


 
