:root {
  --header-opacity: .8;
}

header {
  width: 100%;
  top: 0;
  left: 0;
	background-color: var(--main-color);
  opacity: var(--header-opacity);
	position: fixed;
	z-index: 999;
	text-transform: uppercase;
	border-bottom: 3px solid #f7f7f7;
  overflow: hidden;
}

header .flex-box {
	justify-content: space-between;
  align-items: center;
}

header .logo {
  flex: 1;
	cursor: pointer;
  position: relative;
  opacity: var(--header-opacity);
  height: 90px;
}

header .logo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

header nav {
  padding: 10px 15px;
  flex: 4;
  margin: 0;
  
}

header nav ul {
  width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  text-align: center;
}

header nav ul li {
	cursor: pointer;
	padding: 10px 15px;
}


header nav ul li:hover {
  border-bottom: 1px solid #fff;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li a {
	color: #fff;
}

header .search {
  flex: 1.2;
  height: 50px;
  text-align: center;
}

header .sign {
  justify-content: space-evenly;
  align-items: center;
}

header .sign a {
  text-decoration: none;
}

header .sign input, header .sign a, header .sign .user {
  border: 1px solid #fff;
  border-radius: 6px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  margin: 5px;
  height: 60px;
  align-items: center;
  display: flex;
}

header .sign .user {
  border: none;
}

header .sign .user {
  padding: 8px;
}

header .sign .user .MuiAvatar-icon {
  width: 10px;
  height: 10px
}

header .sign input:hover, header .sign a:hover {
  background-color: rgba(255, 255, 255, .3);
}

header .sign input, header .sign a {
  cursor: pointer;
}

header .menu-icon {
  padding: 10px;
  margin-left: 30px;
  position: relative;
}

header .menu-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--header-opacity);
}

@media (min-width: 320px) {
	header .container {
		width: 250px;
	}

	header .container nav, header .container .sign {
		display: none;
	}

  header .logo {
    flex: 1;
  }
}

@media (max-width: 767px) {
  header .search {
    display: none;
  }
  
}

@media (min-width: 768px) {
	header .container {
		width: 750px;
	}

	header nav.flex-box, header .sign.flex-box {
		display: flex;
	}

  header .menu-icon {
    display: none;
  }

  header .search {
    width: 10px;
    font-size: 15px;
  }

  header .flex-box {
    flex-wrap: nowrap;
  }
}

/* @media (max-width: 992px) {
	body {
		text-align: center;
	}

	.box {
		width: 500px;
	}

	.social-media-links {
		justify-content: center;
	}

	.home p {
		font-size: 1.55em;
	}
} */

@media (min-width: 992px) {
	header .container {
		width: 970px;
	}

  /* header .search {
    width: 240px
  } */
}

@media (min-width: 1200px) {
	header .container {
		width: 1170px;
	}
}